body{
    margin-top: 150px;
    padding: 5px;
    text-align: justify;
}

#menu{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 150px;
    background-color: #ff0000;
}
#menu.fixed{
    position: fixed;
    top: -100px;
}
#menu .top{

}
#menu .left{
    
}
#menu .right{
    
}
#menu .main{
    
}