*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #262626;
}
.header{
    z-index: 4;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    background-color: #262626;
    color: #fff;
    padding-left: 50px;
    line-height: 100px;
    font-size: 50px;
}
.header > div{
    display: inline-block;
}
.cells{
    z-index: 2;
    position: fixed;
    top: 100px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transform-style: preserve-3d;
    transform: translateZ(calc((100vh - 100px) / -6));
    perspective-origin: center center;
}
.cells > div{
    position: absolute;
    transform-style: preserve-3d;
    width: calc(100vw / 3);
    height: calc((100vh - 100px) / 3);
    transition: transform 0.5s linear;
    perspective-origin: center center;
}
.cell1{
    top: calc((100vh - 100px) / 3 * 0);
    left: calc(100vw / 3 * 0);
}
.cell2{
    top: calc((100vh - 100px) / 3 * 0);
    left: calc(100vw / 3 * 1);
}
.cell3{
    top: calc((100vh - 100px) / 3 * 0);
    left: calc(100vw / 3 * 2);
}
.cell4{
    top: calc((100vh - 100px) / 3 * 1);
    left: calc(100vw / 3 * 0);
}
.cell5{
    top: calc((100vh - 100px) / 3 * 1);
    left: calc(100vw / 3 * 1);
}
.cell6{
    top: calc((100vh - 100px) / 3 * 1);
    left: calc(100vw / 3 * 2);
}
.cell7{
    top: calc((100vh - 100px) / 3 * 2);
    left: calc(100vw / 3 * 0);
}
.cell8{
    top: calc((100vh - 100px) / 3 * 2);
    left: calc(100vw / 3 * 1);
}
.cell9{
    top: calc((100vh - 100px) / 3 * 2);
    left: calc(100vw / 3 * 2);
}

.cells > div > div{
    position: absolute;
    width: calc(100vw / 3);
    height: calc((100vh - 100px) / 3);
    transform-origin: center center;
    overflow: hidden;
}

.cells > div > .side1{
    background-color: #262626;
    transform: translate3d(0px, 0px, calc((100vh - 100px) / 6)) rotateX(0deg);
}
.cells > div > .side2{
    background-color: #262626;
    transform: translate3d(0px, calc((100vh - 100px) / -6), 0px) rotateX(90deg);
}
.cells > div > .side3{
    background-color: #262626;
    transform: translate3d(0px, 0px, calc((100vh - 100px) / -6)) rotateX(180deg);
    
}
.cells > div > .side4{
    background-color: #262626;
    transform: translate3d(0px, calc((100vh - 100px) / 6), 0px) rotateX(270deg);
}
.cells > div > .left{
    background-color: #262626;
    transform: translate3d(calc((100vh - 100px) / -6), 0px, 0px) rotateY(90deg);
    width: calc((100vh - 100px) / 3);
    height: calc((100vh - 100px) / 3);
}
.cells > div > .right{
    background-color: #262626;
    transform: translate3d(calc((100vw / 3) - ((100vh - 100px) / 6)), 0px, 0px) rotateY(270deg);
    width: calc((100vh - 100px) / 3);
    height: calc((100vh - 100px) / 3);
}


.cell1 > div > div{
    transform: translate(calc(100vw / -3 * 0), calc((100vh - 100px) / -3 * 0));
}
.cell2 > div > div{
    transform: translate(calc(100vw / -3 * 1), calc((100vh - 100px) / -3 * 0));
}
.cell3 > div > div{
    transform: translate(calc(100vw / -3 * 2), calc((100vh - 100px) / -3 * 0));
}
.cell4 > div > div{
    transform: translate(calc(100vw / -3 * 0), calc((100vh - 100px) / -3 * 1));
}
.cell5 > div > div{
    transform: translate(calc(100vw / -3 * 1), calc((100vh - 100px) / -3 * 1));
}
.cell6 > div > div{
    transform: translate(calc(100vw / -3 * 2), calc((100vh - 100px) / -3 * 1));
}
.cell7 > div > div{
    transform: translate(calc(100vw / -3 * 0), calc((100vh - 100px) / -3 * 2));
}
.cell8 > div > div{
    transform: translate(calc(100vw / -3 * 1), calc((100vh - 100px) / -3 * 2));
}
.cell9 > div > div{
    transform: translate(calc(100vw / -3 * 2), calc((100vh - 100px) / -3 * 2));
}


.view{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 100px);
}

.view1{
    background: url('./view1_background_mobile.jpg') no-repeat center;
    background-size: cover;
    font-family: Arial, 'Times New Roman';
}
.view1 > div.title{
    position: absolute;
    top: calc((100vh - 100px) * 0.3);
    height: calc((100vh - 100px) * 0.3);
    line-height: calc((100vh - 100px) * 0.3);
    font-size: calc((100vh - 100px) * 0.1);
    color: #fff;
    width: 100vw;
    text-align: center;
}
.view1 > div.subtitle{
    position: absolute;
    top: calc((100vh - 100px) * 0.6);
    height: calc((100vh - 100px) * 0.1);
    font-size: calc((100vh - 100px) * 0.03);
    color: #fff;
    width: 80vw;
    padding-left: 10vw;
    text-align: right;
}

.view2{
    font-family: Arial, 'Times New Roman';
    /* background: url('./view2_background.jpg') no-repeat center;
    background-size: cover; */
    text-align: center;
}
.view2 > div.title{
    position: absolute;
    top: calc((100vh - 100px) * 0.15);
    font-size: calc((100vh - 100px) * 0.06);
    margin-left: 15vw;
    width: 70vw;
    color: #fff;
    text-align: center;
}

.view3{
    background: url('./view3_background.jpg') no-repeat center;
    background-size: contain;
}

.view4{
    background: url('./view4_background.jpg') no-repeat center;
    background-size: contain;
}
